html,
body {
  height: 100%;
}

body {
  padding-top: 50px;
  font-family: Helvetica,Arial,sans-serif;
}

a {
  outline: 0 !important;
}

.container {
  max-width: 1080px;
}

@footerHeight: 50px;

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -@footerHeight;
  padding: 0 0 @footerHeight;
}

.navbar {
  min-height: 42px;
}

footer {
  background-color: #f5f5f5;
  height: (@footerHeight - 10);
  font-size: 12px;
  margin-top: 10px;
}

.footer {
  padding-top: 12px;
  padding-bottom: 12px;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 767px) {
  footer {
    height: auto;
    .footer-split {
      text-align: center;
    }
  }
}

.ie-warnings {
  text-align: center;
}

.pointer {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  a {
    -webkit-touch-callout: default;
    -webkit-user-select: text;
    user-select: text;
  }
}

.vm-progress {
  float: left;
  height: 100%;
  width: 0;
  font-size: 12px;
  line-height: 20px;
}

.stats {
  display: none;
  font-size: 12px;
  .progress {
    margin-bottom: 1px;
    height: 20px;
  }
  .progress-bar {
    font-size: 11px;
    line-height: 20px;
  }
}

.servers-loaded {
  margin-bottom: 2px;
  .progress {
    margin-bottom: 1px;
  }
}

.progress-text {
  font-size: 12px;
}

.toolbar {
  margin-bottom: 5px;
}

.toolbar-group {
  margin-bottom: 0;
}

.btn .badge {
  text-shadow: none;
  font-size: 11px;
  padding: 2px 5px;
  background: #00438B;
  font-weight: normal;
}

.show-range-0 {
  .range-0 {
    display: block !important;
  }
}
.show-range-4 {
  .range-4 {
    display: block !important;
  }
}
.show-range-7 {
  .range-7 {
    display: block !important;
  }
}
.show-range-10 {
  .range-10 {
    display: block !important;
  }
}
.show-range-12 {
  .range-12 {
    display: block !important;
  }
}
.show-range-all {
  [class*='range-'] {
    display: block !important;
  }
}

.text-dead {
  color: #929292;
}

a.progress-bar {
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.stats .progress-bar-danger {
  color: #000;
}

.progress-bar-dead, .progress-bar-dead-auto {
  background-image: -webkit-linear-gradient(top, #505050 0%, #333333 100%);
  background-image:         linear-gradient(to bottom, #505050 0%, #333333 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff505050', endColorstr='#ff333333', GradientType=0);
  background-repeat: repeat-x;
}

.progress-bar-dead {
  width: 100% !important;
}

.mclick-check {
  .vm-progress {
    opacity: 0.3;
  }
  .vm-progress.checked {
    opacity: 1.0;
  }
}

.stat-text {
  text-align: center;
  h4 {
    margin-bottom: 0;
  }
}

.row .stats.not-matched {
  display: none !important;
  min-height: 0;
}

.cmd-alert {
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 500px;
}

.pbar-cmd {
  margin-bottom: 0;
  max-width: 500px;
}

.search-input {
  width: 300px !important;
  margin-bottom: 5px;
}

.lists-dropdown {
  a {
    font-size: 12px;
  }
}

.text-edit {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
}

.rdpcode {
  font-size: 12px;
  max-height: 333px;
}

.select-range {
  display: none;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .select-range {
    display: inline-block !important;
  }
}

.table-host {
  margin-bottom: 10px;
}

.head-progress {
  margin-top: 10px;
}

.wide-text {
  text-align: center;
  padding: 20px;
}

.screenshot {
  position: relative;
  .status, .error {
    padding-top: 25%;
    padding-bottom: 25%;
    text-align: center;
  }
  .info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.35);
    color: #FFF;
    font-size: 12px;
    padding: 1px 5px;
    text-align: center;
    height: 17px;
    a {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }
}

.screenshot.loading {
  .status {
    display: block;
  }
  .error, .info, .content {
    display: none;
  }
}

.screenshot.error {
  .error {
    display: block;
  }
  .status, .info, .content {
    display: none;
  }
}

.screenshot.loaded {
  .status, .error {
    display: none;
  }
  .content, .info {
    display: block;
  }
}

.screenshot-montage {
  padding-top: 10px;
  padding-bottom: 10px;
  .status, .error {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
  }
  .img-responsive {
    margin-left: auto;
    margin-right: auto;
  }
}

.monitor-screens {
  padding-left: 10px;
  padding-right: 10px;
  .monitor-screen {
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 10px;
    .screenshot {
      .status, .error {
        padding-bottom: 48%;
      }
    }
  }
}

.screenshot-margin {
  margin-bottom: 20px;
}

.img-montage {
  border: 1px solid #000;
}

.form-group-last {
  margin-bottom: 0;
}

.vm-info-table {
  font-size: 13px;
  .key {
    width: 50%;
  }
}

.cmdbtns {
  margin-bottom: 6px;
  button {
    margin-right: 3px;
    margin-bottom: 3px;
    &:focus {
      outline: 0 !important;
    }
  }
}

.show {
  .progress, .screens {
    display: none;
  }
}

.show-0, .show-1 {
  .progress {
    display: block;
  }
}

.show-2 {
  .screens {
    display: block;
  }
}
