<!DOCTYPE html>
<html ng-app="xen-mon-app">

<head>
  <meta charset="UTF-8">
  <title>Xen-Monitor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Xen-Monitor">
  <link rel="stylesheet" href="/css/application.css">
  <!--[if gt IE 9]><!-->
  <script src="/js/vendor/angular.js"></script>
  <script src="/js/vendor/angular-route.js"></script>
  <script src="/js/application.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    XenMonApp.factory('ASSETS', [function() {
      return {/*%ASSETS%*/};
    }]);
  </script>
  <script src="http://localhost:35729/livereload.js"></script>
  <!--<![endif]-->
  <script type="text/ng-template" id="index">
    <div id="wrap">
      <header>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/#/">Xen Monitor</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
              <ul class="nav navbar-nav">
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div id="content" class="container" ng-view></div>
    </div>
    <footer>
      <div class="footer container">
        <span i18n="footer:Copyright"></span> &copy; 2014
        <a href="http://cgh.io/" target="_blank">cgh.io</a>
        |
        <a href="https://github.com/caiguanhao/xen-monitor"
          target="_blank">View source code</a>
      </div>
    </footer>
  </script>
  <script type="text/ng-template" id="main">
    <div class="row show-range-{{range}}">
      <div class="col-sm-12">
        <div class="progress">
          <div class="progress-bar progress-bar-success"
            style="width: {{colorStats.successPercent}}%">
            <span ng-bind="colorStats.success"
              ng-show="colorStats.success"></span>
          </div>
          <div class="progress-bar progress-bar-warning"
            style="width: {{colorStats.warningPercent}}%">
            <span ng-bind="colorStats.warning"
              ng-show="colorStats.warning"></span>
          </div>
          <div class="progress-bar progress-bar-danger"
            style="width: {{colorStats.dangerPercent}}%">
            <span ng-bind="colorStats.danger"
              ng-show="colorStats.danger"></span>
          </div>
          <div class="progress-bar progress-bar-dead-auto"
            style="width: {{colorStats.deadPercent}}%">
            <span ng-bind="colorStats.dead"
              ng-show="colorStats.dead"></span>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-inline">
          <div class="form-group">
            <div class="btn-toolbar" role="toolbar">
              <div class="btn-group btn-group-sm">
                <button class="btn btn-default" ng-click="cached.live=true"
                  ng-class="{active:cached.live}"><span class="text-success">
                  <span class="glyphicon glyphicon-play"></span>
                  Live</span></button>
                <button class="btn btn-default" ng-click="cached.live=false"
                  ng-class="{active:!cached.live}"><span class="text-danger">
                  <span class="glyphicon glyphicon-pause"></span>
                  Paused</span></button>
              </div>
              <div class="btn-group btn-group-sm">
                <button class="btn btn-default" ng-click="show=0"
                  ng-class="{active:show===0}">
                  <span class="glyphicon glyphicon-globe"></span>
                  IP Address</button>
                <button class="btn btn-default" ng-click="show=1"
                  ng-class="{active:show===1}">
                  <span class="glyphicon glyphicon-signal"></span>
                  Speed</button>
              </div>
              <div class="btn-group btn-group-sm">
                <button class="btn btn-default" ng-click="type='U'"
                  ng-class="{active:type==='U'}">
                  <span class="glyphicon glyphicon-cloud-upload"></span>
                  Upload</button>
                <button class="btn btn-default" ng-click="type='D'"
                  ng-class="{active:type==='D'}">
                  <span class="glyphicon glyphicon-cloud-download"></span>
                  </button>
              </div>
              <div class="btn-group btn-group-sm">
                <button class="btn btn-default" ng-click="openSearch()"
                  ng-class="{active:cached.opensearch}">
                  <span class="glyphicon glyphicon-search"
                    ng-class="{'text-success':cached.search}"></span></button>
              </div>
              <div class="input-group search-input" ng-show="cached.opensearch">
                <div class="input-group-btn btn-group-sm">
                  <button type="button" class="btn btn-default"
                    ng-click="cached.search=null">
                    <span class="glyphicon glyphicon-remove"></span></button>
                </div>
                <input type="text" class="form-control input-sm search-input"
                  placeholder="Search IP address..." ng-model="cached.search"
                  focus="focusSearch">
                <div class="input-group-btn btn-group-sm"
                  ng-class="{open:searchList}">
                  <button type="button" class="btn btn-default dropdown-toggle"
                    ng-click="searchList=!!!searchList">
                    <span class="glyphicon glyphicon-th-list"></span>
                    <span ng-bind="lists.K.length||0"></span>
                    Lists <span class="caret"></span></button>
                  <ul class="dropdown-menu pull-right lists-dropdown"
                    ng-click="searchList=false">
                    <li ng-repeat="K in lists.K"><a href ng-bind="K"
                      ng-click="cached.search=lists.V[$index]"></a></li>
                    <li class="divider"></li>
                    <li><a href="/#/edit-lists">
                      <span class="glyphicon glyphicon-edit"></span>
                      Edit</a></li>
                  </ul>
                </div>
              </div>
              <div class="btn-group btn-group-sm" ng-hide="cached.opensearch">
                <button class="btn btn-default" ng-click="range='all'"
                  ng-class="{active:range==='all'}">
                  <span class="glyphicon glyphicon-asterisk"></span></button>
                <button class="btn btn-default" ng-click="range=0"
                  ng-class="{active:range===0}">0-4
                  <span class="badge" ng-bind="rangeStats[0]"></span></button>
                <button class="btn btn-default" ng-click="range=4"
                  ng-class="{active:range===4}">4
                  <span class="badge" ng-bind="rangeStats[4]"></span></button>
                <button class="btn btn-default" ng-click="range=7"
                  ng-class="{active:range===7}">7
                  <span class="badge" ng-bind="rangeStats[7]"></span></button>
                <button class="btn btn-default" ng-click="range=8"
                  ng-class="{active:range===8}">8
                  <span class="badge" ng-bind="rangeStats[8]"></span></button>
                <button class="btn btn-default" ng-click="range=9"
                  ng-class="{active:range===9}">9
                  <span class="badge" ng-bind="rangeStats[9]"></span></button>
                <button class="btn btn-default" ng-click="range=10"
                  ng-class="{active:range===10}">10
                  <span class="badge" ng-bind="rangeStats[10]"></span></button>
                <button class="btn btn-default" ng-click="range=11"
                  ng-class="{active:range===11}">11M+
                  <span class="badge" ng-bind="rangeStats[11]"></span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 stats range-{{VMs.R}}"
        ng-repeat="(host, VMs) in allServers" search="host+','+VMs.K">
        <div class="progress stat">
          <a href="/#/host/{{host}}" class="vm-progress" style="width: 20%">
            <div total-progress-bar="VMs" ip="host"></div>
          </a>
          <a href="/#/host/{{host}}/vm/{{VM}}" class="vm-progress"
            ng-repeat="VM in VMs.K" style="width: {{VMs.W}}%">
            <div progress-bar="VMs" index="$index" ip="VM"></div>
          </a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-2 col-sm-offset-2 stat-text">
        <h4 ng-bind="totalStats[type+'T']"></h4>
        <small>total {{typetext}}</small>
      </div>
      <div class="col-xs-6 col-sm-2 stat-text">
        <h4 ng-bind="totalStats[type+'HA']"></h4>
        <small>{{typetext}} per host</small>
      </div>
      <div class="col-xs-6 col-sm-2 stat-text">
        <h4 ng-bind="totalStats[type+'VMA']"></h4>
        <small>{{typetext}} per VM</small>
      </div>
      <div class="col-xs-6 col-sm-2 stat-text">
        <h4 ng-bind="totalStats.HC+' / '+totalStats.VMC"
          ng-show="totalStats.HC"></h4>
        <small>servers / VMs</small>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="host">
    <ol class="breadcrumb">
      <li><a href="/#/">All servers</a></li>
      <li class="active" ng-bind="host"></li>
    </ol>
    <table class="table">
      <thead>
        <tr>
          <th>Domain ID</th>
          <th>IP Address</th>
          <th>Power State</th>
          <th>Upload</th>
          <th>Download</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="VM in VMs.K">
          <td ng-bind="VMs.I[$index]"></td>
          <td>
            <a href="/#/host/{{host}}/vm/{{VM}}" ng-bind="VM"></a>
          </td>
          <td ng-bind="VMs.PS[$index]"></td>
          <td ng-bind="VMs.UT[$index]"></td>
          <td ng-bind="VMs.DT[$index]"></td>
        </tr>
        <tr ng-hide="VMs">
          <td colspan="5" class="text-center">
            Please wait while the host sends its statictics here...
          </td>
        </tr>
      </tbody>
    </table>
  </script>
  <script type="text/ng-template" id="vm">
    <ol class="breadcrumb">
      <li><a href="/#/">All servers</a></li>
      <li><a href="/#/host/{{host}}" ng-bind="host"></a></li>
      <li class="active" ng-bind="vm"></li>
    </ol>
    <table class="table table-vm">
      <tbody>
        <tr>
          <td class="attr">Domain ID</td>
          <td>{{VMs.I[index] || 'Loading...'}}</td>
        </tr>
        <tr>
          <td class="attr">Power State</td>
          <td>{{VMs.PS[index] || 'Loading...'}}</td>
        </tr>
        <tr>
          <td class="attr">Upload</td>
          <td>{{VMs.UT[index] || 'Loading...'}}</td>
        </tr>
        <tr>
          <td class="attr">Download</td>
          <td>{{VMs.DT[index] || 'Loading...'}}</td>
        </tr>
        <tr>
          <td class="attr">Command</td>
          <td>
            <div class="alert alert-{{freeze.messageColor}} cmd-alert"
              ng-show="freeze.message"
              ng-bind="freeze.message|cmdreplace:freeze.commandText"></div>
            <div class="progress pbar-cmd progress-striped active"
              ng-show="freeze.frozen">
              <div class="progress-bar" freeze-progress-bar="freeze">
                <span ng-show="freeze.elapsed"
                  ng-bind="freeze.elapsed+' / '+freeze.wait"></span>
              </div>
            </div>
            <form class="form-inline" ng-submit="execute()"
              ng-show="index>-1&&!freeze.frozen">
              <select class="form-control input-sm" ng-model="command">
                <option ng-repeat="cmd in commands.C"
                  value="{{$index}}">{{commands.T[$index]}}
                  ({{commands.W[$index]}}s)</option>
              </select>
              <input type="password" class="form-control input-sm"
                placeholder="Password" ng-model="password">
              <button type="submit" ng-disabled="btnExecuteDisabled()"
                class="btn btn-sm btn-default">Execute</button>
            </form>
            <div ng-hide="index>-1">
              Loading...
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <p><span class="glyphicon glyphicon-repeat"></span>
              Restart succeeds if Domain ID is increased.</p>
            <p><span class="glyphicon glyphicon-off"></span>
              Shutdown or Start succeeds if Power State is changed.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </script>
  <script type="text/ng-template" id="edit-lists">
    <div class="row">
      <div class="col-sm-6">
        <h3>Edit Lists</h3>
        <div class="form-group">
          <textarea class="form-control text-edit" rows="15"
            ng-model="rawLists" placeholder="Lists"></textarea>
        </div>
        <div class="form-group">
          <input type="password" ng-model="password" class="form-control"
            placeholder="Password">
        </div>
        <div class="form-group">
          <button ng-click="update()" type="button"
            ng-disabled="updateDisabled||!password||password.length<5"
            class="btn btn-default"><span class="{{updateTextColor}}"
            ng-bind="updateText"></span></button>
        </div>
      </div>
      <div class="col-sm-6">
        <h3>Preview</h3>
        <div ng-repeat="K in lists.K">
          <h4 ng-bind="K"></h4>
          <p ng-bind="lists.V[$index]"></p>
        </div>
      </div>
    </div>
  </script>
</head>

<body>
  <!--[if lte IE 9]>
    <div class="ie-warnings">
      <b>Your browser is out of date.</b>
      <br>
      Please upgrade to IE 10 or use Chrome or Firefox browser.
      <br>
      Download Chrome from:
      <a href="https://www.google.com/chrome/">Google</a> |
      <a href="http://dl.pconline.com.cn/download/51614-1.html">
        PCOnline (Windows)
      </a>
      <br>
      Download Firefox from:
      <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla</a>
      <br>
      You can also view this page on your iPhone or Android.
    </div>
  <![endif]-->
</body>

</html>
