<!DOCTYPE html>
<html ng-app="xen-mon-app">

<head>
  <meta charset="UTF-8">
  <title>Xen-Monitor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Xen-Monitor">
  <link rel="stylesheet" href="/css/application.css">
  <!--[if gt IE 9]><!-->
  <script src="/js/vendor/angular.js"></script>
  <script src="/js/vendor/angular-route.js"></script>
  <script src="/js/application.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://localhost:35729/livereload.js"></script>
  <!--<![endif]-->
  <script type="text/ng-template" id="index">
    <div id="wrap">
      <header>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/#/">Xen Monitor</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
              <ul class="nav navbar-nav">
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div id="content" class="container" ng-view></div>
    </div>
    <footer>
      <div class="footer container">
        <span i18n="footer:Copyright"></span> &copy; 2014
        <a href="http://cgh.io/" target="_blank">cgh.io</a>
        |
        <a href="https://github.com/caiguanhao/xen-monitor"
          target="_blank">View source code</a>
      </div>
    </footer>
  </script>
  <script type="text/ng-template" id="main">
    <div class="row show-range-{{range}}">
      <div class="col-sm-12">
        <div class="progress">
          <div class="progress-bar progress-bar-success"
            style="width: {{colorStats.successPercent}}%">
            <span ng-bind="colorStats.success + ' / ' +
              colorStats.total"></span>
          </div>
          <div class="progress-bar progress-bar-warning"
            style="width: {{colorStats.warningPercent}}%">
            <span ng-bind="colorStats.warning"></span>
          </div>
          <div class="progress-bar progress-bar-danger"
            style="width: {{colorStats.dangerPercent}}%">
            <span ng-bind="colorStats.danger"></span>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-inline form-group">
          <div class="form-group">
            <div class="btn-toolbar" role="toolbar">
              <div class="btn-group btn-group-sm">
                <button class="btn btn-default" ng-click="live=true"
                  ng-class="{active:live}">
                  <span class="glyphicon glyphicon-play"></span>
                  Live</button>
                <button class="btn btn-default" ng-click="live=false"
                  ng-class="{active:!live}">
                  <span class="glyphicon glyphicon-pause"></span>
                  Paused</button>
              </div>
              <div class="btn-group btn-group-sm">
                <button class="btn btn-default" ng-click="show=0"
                  ng-class="{active:show===0}">IP Address</button>
                <button class="btn btn-default" ng-click="show=1"
                  ng-class="{active:show===1}">Speed</button>
              </div>
              <div class="btn-group btn-group-sm">
                <button class="btn btn-default" ng-click="type='U'"
                  ng-class="{active:type==='U'}">Upload</button>
                <button class="btn btn-default" ng-click="type='D'"
                  ng-class="{active:type==='D'}">Download</button>
              </div>
              <div class="btn-group btn-group-sm">
                <button class="btn btn-default" ng-click="range='all'"
                  ng-class="{active:range==='all'}">
                  <span class="glyphicon glyphicon-asterisk"></span></button>
                <button class="btn btn-default" ng-click="range=0"
                  ng-class="{active:range===0}">0-4M
                  <span class="badge" ng-bind="rangeStats[0]"></span></button>
                <button class="btn btn-default" ng-click="range=4"
                  ng-class="{active:range===4}">4M
                  <span class="badge" ng-bind="rangeStats[4]"></span></button>
                <button class="btn btn-default" ng-click="range=7"
                  ng-class="{active:range===7}">7M
                  <span class="badge" ng-bind="rangeStats[7]"></span></button>
                <button class="btn btn-default" ng-click="range=8"
                  ng-class="{active:range===8}">8M
                  <span class="badge" ng-bind="rangeStats[8]"></span></button>
                <button class="btn btn-default" ng-click="range=9"
                  ng-class="{active:range===9}">9M
                  <span class="badge" ng-bind="rangeStats[9]"></span></button>
                <button class="btn btn-default" ng-click="range=10"
                  ng-class="{active:range===10}">10M
                  <span class="badge" ng-bind="rangeStats[10]"></span></button>
                <button class="btn btn-default" ng-click="range=11"
                  ng-class="{active:range===11}">11M+
                  <span class="badge" ng-bind="rangeStats[11]"></span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 stats range-{{VMs.R}}"
        ng-repeat="(host, VMs) in allServers">
        <div class="progress stat">
          <a href="/#/host/{{host}}" class="vm-progress" style="width: 20%">
            <div total-progress-bar="VMs" ip="host"></div>
          </a>
          <a href="/#/host/{{host}}/vm/{{VM}}" class="vm-progress"
            ng-repeat="VM in VMs.K" style="width: {{VMs.W}}%">
            <div progress-bar="VMs" index="$index" ip="VM"></div>
          </a>
        </div>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="host">
    <h3 ng-bind="host"></h3>
    <table class="table">
      <thead>
        <tr>
          <th>IP Address</th>
          <th>Upload</th>
          <th>Download</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="VM in VMs.K">
          <td>
            <a href="/#/host/{{host}}/vm/{{VM}}" ng-bind="VM"></a>
          </td>
          <td ng-bind="VMs.UT[$index]"></td>
          <td ng-bind="VMs.DT[$index]"></td>
        </tr>
        <tr ng-hide="VMs">
          <td colspan="3" class="text-center">
            Please wait while the host sends its statictics here...
          </td>
        </tr>
      </tbody>
    </table>
  </script>
  <script type="text/ng-template" id="vm">
  </script>
</head>

<body>
  <!--[if lte IE 9]>
    <div class="ie-warnings">
      <b>Your browser is out of date.</b>
      <br>
      Please upgrade to IE 10 or use Chrome or Firefox browser.
      <br>
      Download Chrome from:
      <a href="https://www.google.com/chrome/">Google</a> |
      <a href="http://dl.pconline.com.cn/download/51614-1.html">
        PCOnline (Windows)
      </a>
      <br>
      Download Firefox from:
      <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla</a>
      <br>
      You can also view this page on your iPhone or Android.
    </div>
  <![endif]-->
</body>

</html>
